<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>· Elmverse ·</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div>
      <%= render @view_module, @view_template, assigns %>
    </div>
    <div class="footer">
      <div class="has-text-centered">
        <a href="https://github.com/s6o/elmverse" alt="Elmverse GitHub" target="_blank">
          <img src=<%= Routes.static_path(@conn, "/images/GitHub-Mark-120px-plus.png") %> alt="Elmverse GitHub" />
        </a>
      </div>
    </div>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
